<!doctype html>
<html>
<head>
	<title>Clam - ${title}</title>
	<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<h1 class="title">Clam</h1>
			<p>Web based file storage.</p>

			<br>
			<form method="POST" enctype="multipart/form-data" onsubmit="displayUpload(this);">
			<fieldset>
    			<legend>Upload File</legend>
    			<div class="button">
				    <input type="file" name="fileupload" class="upload" multiple required="required">
				</div>
			    <input type="submit" value="Upload">
			</fieldset>
			</form>
			<form method="POST" enctype="multipart/form-data">
			<fieldset>
    			<legend>New Folder</legend>
			    <input type="text" name="newfolder" placeholder="Folder Name" required="required">
			    <input type="submit" value="Create">
			</fieldset>
			</form>
		</header>
		<section>
			${content}
		</section>
	</div>
	<script type="text/javascript">
	function displayUpload(e) {
		var subtext = e.firstElementChild.lastElementChild;
		var i = 0;
		setInterval(function() {
		    i = ++i % 4;
		    subtext.value = "Uploading" + Array(i+1).join(".") + Array(4- i).join(" ");
		}, 500);
	}
	</script>
</body>
</html>