<!doctype html>
<html>
<head>
	<title>Clam - ${title}</title>
	<link type="text/css" rel="stylesheet" href="style.css">
	<style type="text/css">
		.bar-used.success
		{
			background-color: #0c0;
		}

		.bar-used.failed
		{
			background-color: #c00;
		}
	</style>
	<script type="text/javascript">
	function template(tmpl) {
		var m = document.getElementById('fullpage');
		var t = document.importNode(document.getElementById(tmpl).content, true);
		m.innerHTML = "";
		m.appendChild(t);

		var a = document.createElement('a');
		a.href = "javascript:closemodal();";
		a.innerHTML = "Close";
		m.appendChild(a);

		m.className = "display";
	}
	function closemodal() {
		document.getElementById('fullpage').className = "hidden";
	}

	function displayUpload(e) {
		var subtext = e.firstElementChild.lastElementChild;
		var i = 0;
		setInterval(function() {
		    i = ++i % 4;
		    subtext.value = "Uploading" + Array(i+1).join(".") + Array(4- i).join(" ");
		}, 500);
	}
	</script>
</head>
<body>
	<noscript>
	<p>Most of this site will not function without javascript. Please enable it.</p>
	</noscript>
	<div class="wrapper">
		<header>
			<div class="menu-border">
				<h1 class="title">Clam</h1>
				<p>Web based file storage.</p>
				<hr>
				<p><strong>${username}</strong></p>
			</div>
				
			<div class="menu-border">
				<ul>
					<li><a href="javascript:template('js_fileupload');">Upload Files</a></li>
					<li><a href="javascript:template('js_newfolder');">New Folder</a></li>
					<li><a href="javascript:template('js_changepass');">Change Password</a></li>
					<li><a href="javascript:template('js_logout');">Logout</a></li>
				</ul>
			</div>
			<div class="menu-border">
				<p>${disk_ingb} Gb free</p>
				<div class='bar'><div class='bar-used' style='width:${disk_percent}%'></div></div>
			</div>
		</header>
		<section>
			${content}
		</section>
	</div>
	<div id="fullpage" class="hidden"></div>
	<template id="js_newfolder">
		<form method="POST" enctype="multipart/form-data">
			<fieldset>
    			<legend>New Folder</legend>
			    <input type="text" name="newfolder" placeholder="Folder Name" required="required">
			    <input type="hidden" name="cs" value="${cs}">
			    <input type="submit" value="Create">
			</fieldset>
		</form>
	</template>
	<template id="js_fileupload">
		<form id="upload" method="POST" enctype="multipart/form-data">
			<fieldset>
				<legend>Upload File</legend>
				<div>
					<label for="fileselect">Files to upload:</label>
					<input type="file" id="fileselect" onchange="FileSelectHandler(this)" name="fileupload" multiple="multiple" /> 
				</div>
			</fieldset>
		</form>
		<div id="progress"></div>
	</template>
	<template id="js_changepass">
		<form method="POST" enctype="multipart/form-data">
			<fieldset>
				<legend>Change Password</legend>
				<input type="password" name="oldpass" placeholder="Old Password" required="required">
				<input type="password" name="newpass" placeholder="New Password" required="required">
				<input type="hidden" name="cs" value="${cs}">
			    <input type="submit" value="Update">
			</fieldset>
		</form>
	</template>
	<template id="js_logout">
		<form method="POST" enctype="multipart/form-data" action="/logout">
			<fieldset>
				<legend>Are you sure you wish to logout?</legend>
				<input type="hidden" name="cs" value="${cs}">
			    <input type="submit" value="Yes">
			</fieldset>
		</form>
	</template>

	<script type="text/javascript">
		function FileSelectHandler(e) {
			// Change the close button action
			var uplb = document.getElementById('upload');
			uplb.nextElementSibling.nextElementSibling.href = "javascript:location.reload()";

			// fetch FileList object
			var files = e.files || e.dataTransfer.files;

			// process all File objects
			for (var i = 0, f; f = files[i]; i++) {
				UploadFile(f);
			}

		}

		function UploadFile(file) {
			var xhr = new XMLHttpRequest();
			if (xhr.upload) {
				// create progress bar
				var o = document.getElementById('progress');
				var progress = document.createElement("div");
				progress.className = "bar";
				var progress_used = document.createElement("div");
				progress_used.className = "bar-used";
				progress.appendChild(progress_used);
				var tn = document.createTextNode("Uploading: " + file.name);
				o.appendChild(tn);
				o.appendChild(progress);

				// progress bar
				xhr.upload.addEventListener("progress", function(e) {
					var pc = parseInt((e.loaded / e.total * 100));
					progress_used.style.width = pc + "%";
					if (pc >= 98) {
						tn.data = "Finalising " + file.name;
					}
					if (pc == 100) {
						tn.data = "Complete " + file.name;
					}
				}, false);

				// file received/failed
				xhr.onreadystatechange = function(e) {
					if (xhr.readyState == 4) {
						progress_used.className = (xhr.status == 200 ? "bar-used success" : "bar-used failure");
					}
				};

				// start upload
				xhr.open("POST", window.location.href, true);
				var formData = new FormData();
				formData.append('fileupload', file, file.name);
				xhr.send(formData);

			}
		}
	</script>
</body>
</html>