<!doctype html>
<html>
<head>
	<title>Clam - Login</title>
	<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
	<div id="alertbox">
	<noscript>
	<p>Most of this site will not function without javascript. Please enable it.</p>
	</noscript>
	</div>
	<div class="wrapper">
		<header>
			<div class="menu-border">
				<h1 class="title">Clam</h1>
				<p>Web based file storage.</p>
			</div>
			<div class="menu-border">
				<p>Developed by <a href="https://github.com/stevommmm">@c45y</a> in association with Storage Management Services, Griffith University</p>
			</div>
		</header>
		<section>
			<form method="POST" enctype="multipart/form-data">
	    			<h3>Application Login</h3>
				    <input type="text" name="username" placeholder="Username" required="required">
				    <input type="password" name="password" placeholder="Password" required="required">
				    <input type="submit" value="Login">
			</form>
		</section>
	</div>
	<script type="text/javascript">
		if (typeof XMLHttpRequest === "undefined") {
			var msg = document.createElement("p");
			msg.appendChild(document.createTextNode("Your browser lacks support required for this application. Please update to a recent version of Firefox or Chrome."));
			document.getElementById('alertbox').appendChild(msg);
		}
	</script>
</body>
</html>